@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

.remark-slide>.middle {
    border-top: none;
}

.title-slide h1 {
    color: #111111;
    font-size: 38px;
    font-weight: 900;
    padding-top: 300px;
}

.title-slide h2 {
    color: #7d5b38;
    margin-top: -60px;
    margin-bottom: 60px;
    font-weight: 900;
}

.title-slide h3 {
    font-size: 20px;
    color: #222222;
}

.remark-slide-content {
    background-color: #FAFAFA;
    border-top: 60px solid #7d5b38;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    padding: 1em 2em 1em 2em;
}

.remark-slide-content > h1 {
    font-family: 'Roboto', 'Fira Sans';
    font-weight: 900;
    font-size: 38px;
    margin-top: -80px;
}

.remark-slide-content > h2 {
    font-family: 'Roboto', 'Fira Sans';
    font-weight: 900;
    font-size: 24px;
}

a, a > code {
    color: #b15251;
}

.left-column {
    color: #7d5b38;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
    background: none;
}

.remark-slide table thead th {
    color: #7d5b38;
    border-bottom: 1px solid #666;
}

blockquote {
    border-left: solid 5px #7d5b38;
    padding-left: 1em;
}

.remark-slide-content > h4 {
    color: #7d5b38;
    font-weight: 600;
    font-size: 25px;
}

