@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Open Sans', Georgia;
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Georgia, sans-serif;
    font-weight: 400;
}

h1.title {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 23px;
}

.navbar-inverse {
    background-color: #554236 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #cbb598;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #cbb598;
    background-color: transparent;
}


.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>li>a:hover {
    border: 1px solid transparent;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #ffffff;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    border: 1px solid transparent;
}


a {
    color: #A37E58;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.68, -0.01, 0.58, 1);
}

a:hover, a:focus {
    color: #A37E58;
    text-decoration: underline;
}

.navbar-brand {
    font-size: 21px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #A37E58;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #A37E58;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #A37E58;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #A37E58;
    border-color: #A37E58;
    transition: all 0.07s cubic-bezier(0.68, -0.01, 0.58, 1);
}

