/* Importacoes */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;900&display=swap');

/* Inverse slide */
  
.inverse {
    background-color: #F3F3F3;
}

.inverse h1{
  color:#8f2a43;
}

.inverse .remark-slide-number {
    opacity: 0;
    font-size: 0px;
}


.title-slide h2::after, .mline h1::after {
    background-color: #8f2a43;
    color: #8f2a43;
    height: 4px;
    width: 40px;
}

.mline h1::after {
    margin: 10px 15px 15px 0px;
}


/* Corpo */
.remark-slide-content {
    background-color: #F3F3F3;
    border-top: 60px solid #F3F3F3;
    font-size: 28px;
    color:#111;
    font-weight:300; 
}

body {
    font-family: 'Noto Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

/* Slide inicial */
.title-slide h1 {
    color: #8f2a43;
    font-weight: 800;
    font-size: 54px;
    padding-top: 280px;
    margin-bottom: 100px;
}


.title-slide {
    background-color: #F3F3F3;
    border-top: #F3F3F3;
    background-size: 105px;
}

.title-slide h1 {
    margin-bottom:50px;
}

.title-slide h2 {
    line-height: 1.1;
    margin-bottom: 40px;
    font-size: 40px;
}

.title-slide h3 {
    font-weight: 400;
    font-size: 22px;
}

.title-slide h2::after {
    display:none;
}


/* Fontes */
.remark-slide-content h1 {
    font-size: 50px;
    line-height: 50px;
    padding-top:10px;
    font-family: 'Noto Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
    
}

h1 {
    font-weight: bold;
    margin-top: -92px;
    color: #8f2a43;
}

h2 {
    margin-bottom: 20px;
}

.hljs-default .hljs {
    background: #ecf0f2;
}

.font85 {
  font-size: 85%;
}


/* Efeitos */

.left-column {
    font-weight: 300;
    padding-right: 1.4em;
    color: #8f2a43;
}


/* Barra de progresso */
.remark-slide-number {
  position: inherit;
  opacity: 1;
  font-size: 0px;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 6px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #8f2a43;
}


/* Links */
a:hover, a:focus {
    color: #8f442a;
    transform: scale(1.5);
    border-bottom: none;
}


/* Lista */
li{
    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAIAAABLbSncAAABg2lDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV/TiiIVh3YQEclQnSyIijhqFYpQIdQKrTqYXPoFTRqSFBdHwbXg4Mdi1cHFWVcHV0EQ/ABxc3NSdJES/5cUWsR4cNyPd/ced+8AoVFhmhUaBzTdNtPJhJjNrYrdrwhiGBEAIZlZxpwkpeA7vu4R4OtdnGf5n/tz9Kl5iwEBkXiWGaZNvEE8vWkbnPeJo6wkq8TnxGMmXZD4keuKx2+ciy4LPDNqZtLzxFFisdjBSgezkqkRTxHHVE2nfCHrscp5i7NWqbHWPfkLw3l9ZZnrNIeQxCKWIEGEghrKqMBGnFadFAtp2k/4+Addv0QuhVxlMHIsoAoNsusH/4Pf3VqFyQkvKZwAul4c52ME6N4FmnXH+T52nOYJEHwGrvS2v9oAZj5Jr7e12BHQvw1cXLc1ZQ+43AEGngzZlF0pSFMoFID3M/qmHBC5BXrXvN5a+zh9ADLUVeoGODgERouUve7z7p7O3v490+rvB/kHcnZi4qHoAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5QMeEwEwXJlmKQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAVSURBVAjXY+zXcmbABpgYcIDBKQEAyjwBDLVkDHgAAAAASUVORK5CYII=');
}


/* Outros */

.codigo {
    backgroud: #8f2a43;
    color: #F3F3F3;
}

.remark-inline-code {
    background: #8f2a43;
    border-radius: 5px;
    color:#F3F3F3;
    padding: 1px;
}

.texto {
    color: #8f2a43;
    font-weight:700;
}

blockquote {
    border-left: solid 10px #8f2a43;
    padding-left: 0.8em;
}

.remark-slide table thead th {
    border-bottom: 1px solid #ddd;
    color: #8f2a43;
}

@media print {
  .has-continuation {
    display: block !important;
  }
}
